h1{
    color: crimson;
    border-radius: 15%;
    border-color: brown;
    border: 4px  double crimson ;
}

table { 
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 3px solid rgb(27, 1, 72);
    padding: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}


text-align: center;